<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haocent.android.doubanmovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 电影条目 -->
        <activity android:name=".ui.subject.MovieSubjectActivity" />
        <!-- 电影条目信息 -->
        <activity android:name=".ui.subject.MovieSubjectInfoActivity" />
        <!-- 电影条目剧照 -->
        <activity android:name=".ui.subject.MovieSubjectPhotosActivity" />
        <!-- 电影条目长评 -->
        <activity android:name=".ui.subject.MovieSubjectReviewsActivity" />
        <!-- 电影条目短评 -->
        <activity android:name=".ui.subject.MovieSubjectCommentsActivity" />

        <!-- 影人条目 -->
        <activity android:name=".ui.celebrity.MovieCelebrityActivity" />
        <!-- 影人条目信息 -->
        <activity android:name=".ui.celebrity.MovieCelebrityInfoActivity" />
        <!-- 影人剧照 -->
        <activity android:name=".ui.celebrity.MovieCelebrityPhotoActivity" />
        <!-- 影人作品 -->
        <activity android:name=".ui.celebrity.MovieCelebrityWorkActivity" />

        <!-- 搜索 -->
        <activity android:name=".ui.search.MovieSearchActivity" />
        <!-- 根据字段搜索 -->
        <activity android:name=".ui.search.MovieSearchQActivity" />
        <!-- 根据标签搜索 -->
        <activity android:name=".ui.search.MovieSearchTagActivity" />

        <!-- 榜单 -->
        <activity android:name=".ui.list.MovieListActivity" />
        <!-- 正在热映 -->
        <activity android:name=".ui.list.MovieListInTheatersActivity" />
        <!-- 即将上映 -->
        <activity android:name=".ui.list.MovieListComingSoonActivity" />
        <!-- Top 250 -->
        <activity android:name=".ui.list.MovieListTop250Activity" />
        <!-- 口碑榜 -->
        <activity android:name=".ui.list.MovieListWeeklyActivity" />

    </application>

</manifest>